{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>

        <h2> This generator by layouts/single.html</h2>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Date }}<time>{{ . | time.Format ":date_medium" }}</time>{{ end }}
        {{ end }}
        {{ partial "tags.html" . }}
    </header>

    {{- if .Params.image }}
        <span class="image featured"><img src="{{ .Params.image | relURL }}" style="width:80%;" alt="{{ .Params.image_alt }}" /></span>
    {{ end }}

    {{- .Content }}
{{ end }}
